.this-week-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.this-week-news-title {
    padding: 5px;
    margin-bottom: 10px;

    font-size: 50px;
}

.articles {
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.article-container {
    width: 30vw;

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-img {
    width: 25vw;
    padding-bottom: 10px;
}

.table-news-title {
    font-size: 30px;
}

.table-news-title {
    width: 500px;
    height: 80px;
}

.table-news-date {
    width: 200px;
    text-align: center;
}

.table-news-views {
    text-align: center;
}